* {
    padding: 0;
    box-sizing: border-box;
}

.camry-card,
.accord-card,
.mustang-card {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    text-align: left;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

.camry-card,
.accord-card {
    width: 50%;
    height: 40vh;
    display: flex;
}

.mustang-card {
    height: 50vh;
}

.corolla-div {
    display: flex;
    height: 50%;
}

.content1-camry {
    padding-top: 20px;
}

.content1-camry,
.content2-accord {
    padding-left: 50px;
}

.inside-content2-accord {
    display: flex;
}

.label-inside-content2-accord {
    padding-right: 30px;
}

select {
    width: 200px;
    height: 30px;
}

.content3-mustang {
    display: flex;
}

.available-div-mustang {
    padding-right: 20px;
}

.displayed-div-mustang {
    padding-left: 20px;
}

.charger-bottom_buttons {
    float: right;
    padding-right: 20px;
}

.next_button-charger,
.cancel-button-charger {
    width: 70px;
    height: 35px;
    color: white;
    background-color: rgb(53, 153, 6);
}

.center_buttons-mustang {
    display: flex;
    flex-direction: column;
    padding: 3%;
}

.container-mustang {
    display: flex;
    align-items: center;
    margin-left: 7%;
}

.cancel-button-charger {
    color: black;
    background-color: white;
}

SELECT,
INPUT[type="text"] {
    width: 160px;
    box-sizing: border-box;
}

SECTION-mustang {
    padding-left: 100px;
    overflow: auto;
}

SECTION-mustang>DIV-mustang {
    float: left;
    padding: 4px;
}

SECTION-mustang>DIV-mustang+DIV-mustang {
    width: 40px;
    text-align: center;
}

#leftValues-mustang,
#rightValues-mustang {
    height: 100px;
}

.center-buttons-mustang {
    padding-top: 40px;
}

.span1-mustang {
    padding-left: 40px;
}

.span2-mustang {
    padding-left: 108px;
}

.for_mid_buttons {
    padding: 1%;

}